* {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}

a {
	color:#d5d6e2;
}

.container {
	float:right;
	width:900px;
}

#header_top {
	float:left;
	width:100%;
	font-size:24px;
	font-weight:bold;
}

#header_bottom {
	float:left;
	width:100%;
	padding:10px 0px;
	margin-bottom:10px;
	border-bottom:dotted 1px #000000;
}

#menu {
	float:left;
	width:199px;
	border-right:dotted 1px #000000;
}

#menu ul {
	float:left;
	margin:0px;
	padding:0px;
	list-style-type:none;
}

#main {
	float:left;
	width:660px;
	padding:20px;
}
