body {
	padding-top: 50px;
	color: #959595;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	
.feature {
	background: yellowgreen linear-gradient(to bottom, greenyellow, olivedrab);
	color: black;
	}

#feature-carousel {
	min-height: 400px;
	}

#feature-carousel img {
	margin: 0 auto;
	}
		
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: yellowgreen;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}

.body_container {
	background-color: gray;
	position: center;
}
#SubmitRecord {
	visibility: hidden;
}

#TableOfEvents{
	visibility: hidden;
}

#newEventContainer {
	visibility: hidden;
}

#checkbox1Tile{
	visibility: hidden;
}
#checkbox1Label{
	visibility: hidden;
}
#checkbox2Tile{
	visibility: hidden;
}
#checkbox2Label{
	visibility: hidden;
}
#checkbox3Tile{
	visibility: hidden;
}
#checkbox3Label{
	visibility: hidden;
}
#checkbox4Tile{
	visibility: hidden;
}
#checkbox4Label{
	visibility: hidden;
}
#checkbox5Tile{
	visibility: hidden;
}
#checkbox5Label{
	visibility: hidden;
}
#checkbox6Tile{
	visibility: hidden;
}
#checkbox6Label{
	visibility: hidden;
}

body
  font-family: 'Helvetica Neue', Helvetica, Arial
  font-size: 14px
  line-height: 20px
  font-weight: 400
  color: #3b3b3b
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  background: #2b2b2b

.wrapper
  margin: 0 auto
  padding: 40px
  max-width: 800px

.table
  margin: 0 0 40px 0
  width: 100%
  box-shadow: 0 1px 3px rgba(0,0,0,0.2)
  display: table
  @media screen and (max-width: 580px)
    display: block

.row
  display: table-row
  background: #f6f6f6
  &:nth-of-type(odd)
    background: #e9e9e9
  &.header
    font-weight: 900
    color: #ffffff
    background: #ea6153
  &.green
    background: #27ae60
  &.blue
    background: #2980b9
  @media screen and (max-width: 580px)
    padding: 8px 0
    display: block

.cell
  padding: 6px 12px
  display: table-cell
  @media screen and (max-width: 580px)
    padding: 2px 12px
    display: block